*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

input::-ms-clear {
  display: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?5hu060");
  src: url("fonts/icomoon.eot?5hu060#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?5hu060") format("truetype"), url("fonts/icomoon.woff?5hu060") format("woff"), url("fonts/icomoon.svg?5hu060#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Orbitron";
  font-display: swap;
  src: url("../fonts/Orbitron-Bold.woff") format("woff"), url("../fonts/Orbitron-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  font-display: swap;
  src: url("../fonts/Orbitron-Regular.woff") format("woff"), url("../fonts/Orbitron-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.sidebar {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 1.389%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.sidebar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sidebar__link {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: 400;
  font-size: 11px;
  line-height: 227%;
  color: #80858F;
  margin-bottom: 50px;
}

.sidebar__link:last-child {
  margin-bottom: 0;
}

.sidebar__link:hover {
  color: #FAC422;
}

.header {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

.header__inner {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 40px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header__item {
  margin-right: 4.251%;
  padding: 5px;
}

.menu-header__item:last-child {
  margin-right: 0;
}

.menu-header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #FFFFFF;
}

.menu-header__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #FFFFFF;
  position: relative;
}

.menu-header__menu:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  bottom: -40%;
  left: 0;
  background: url(../img/icons/line-blue.svg) 100%/100% no-repeat;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header__cart {
  margin-right: 40px;
  position: relative;
}

.actions-header__cart span {
  color: #141820;
  font-weight: 400;
  font-size: 11px;
  line-height: 164%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(130%, -50%);
      -ms-transform: translate(130%, -50%);
          transform: translate(130%, -50%);
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 18px;
}

.actions-header__cart span:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate(-25%, 0);
      -ms-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}

.actions-header__button {
  border: 1px solid #fff;
  padding: 16px 31px;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #FFFFFF;
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.header-btn:before,
.header-btn:after {
  position: absolute;
  width: 30px;
  height: 2px;
  content: '';
  background-color: #fff;
  left: 50%;
  z-index: 10;
}

.header-btn:before {
  -webkit-transform: rotate(-45deg) translate(-50%);
      -ms-transform: rotate(-45deg) translate(-50%);
          transform: rotate(-45deg) translate(-50%);
  top: 20px;
}

.header-btn:after {
  -webkit-transform: rotate(45deg) translate(-50%);
      -ms-transform: rotate(45deg) translate(-50%);
          transform: rotate(45deg) translate(-50%);
  top: 41px;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 10px;
}

.heading:before {
  position: absolute;
  content: '';
  width: 55.98%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -10;
}

.heading:after {
  position: absolute;
  content: '';
  width: 44.02%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #57B8FF;
  z-index: -10;
}

.heading__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-heading__about {
  margin-bottom: 16px;
}

.content-heading__title {
  margin-bottom: 43px;
}

.content-heading__title span {
  position: relative;
}

.content-heading__title span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 12px;
  left: 0;
  bottom: -10%;
  background: url("../img/icons/line-yellow.svg") 100%/100% no-repeat;
}

.content-heading__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #999999;
  margin-bottom: 53px;
}

.image-heading {
  position: relative;
  margin: 0px 0px 0px 0px;
}

.image-heading__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-heading__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 10px;
}

.heading:before {
  position: absolute;
  content: '';
  width: 55.98%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -10;
}

.heading:after {
  position: absolute;
  content: '';
  width: 44.02%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #57B8FF;
  z-index: -10;
}

.heading__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-heading__about {
  margin-bottom: 16px;
}

.content-heading__title {
  margin-bottom: 43px;
}

.content-heading__title span {
  position: relative;
}

.content-heading__title span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 12px;
  left: 0;
  bottom: -10%;
  background: url("../img/icons/line-yellow.svg") 100%/100% no-repeat;
}

.content-heading__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #999999;
  margin-bottom: 53px;
}

.image-heading {
  position: relative;
  margin: 0px 0px 0px 0px;
}

.image-heading__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-heading__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.sponsor {
  padding-top: 9.02%;
  padding-bottom: 7.639%;
  background-color: #FDD04A;
}

.sponsor__inner {
  text-align: center;
}

.sponsor__title {
  color: #222730;
  margin-bottom: 27px;
}

.sponsor__title span {
  position: relative;
}

.sponsor__title span:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 12px;
  bottom: -15px;
  left: 0;
  background: url("../img/icons/line-blue.svg") no-repeat;
}

.sponsor__text {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: #555555;
}

.logos-sponsors__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logos-sponsors__item {
  position: relative;
}

.logos-sponsors__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.logos-sponsors__link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.needs {
  position: relative;
  padding-top: 9.02%;
  padding-bottom: 9.02%;
}

.needs__inner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.needs__about {
  margin-bottom: 11px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.needs__title {
  text-align: center;
  margin-bottom: 39px;
}

.needs__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: rgba(223, 223, 223, 0.8);
  max-width: 83.612%;
  margin: 0 auto 61px auto;
}

.needs__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.needs__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.columns-needs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columns-needs__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.67%;
          flex: 0 1 48.67%;
  padding: 2.907% 2.907% 2.907% 6.645%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  margin-bottom: 32px;
  position: relative;
}

.columns-needs__ico {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #57B8FF;
  left: -16px;
  -webkit-transform: translate(-100%, 10%) rotate(45deg);
      -ms-transform: translate(-100%, 10%) rotate(45deg);
          transform: translate(-100%, 10%) rotate(45deg);
}

.columns-needs__ico:after {
  position: absolute;
  content: '';
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #57B8FF;
}

.columns-needs__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 131%;
  color: #FFFFFF;
  margin-bottom: 19px;
  text-align: left;
  position: relative;
}

.columns-needs__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: rgba(223, 223, 223, 0.8);
}

.newEra {
  padding-top: 11.667%;
  padding-bottom: 11.667%;
  background-color: #000;
}

.newEra_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-newEra_about {
  margin-bottom: 11px;
}

.content-newEra__title {
  margin-bottom: 38px;
}

.content-newEra__text {
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(223, 223, 223, 0.8);
  line-height: 150%;
}

.content-newEra__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.content-newEra__btn {
  color: #fff;
  padding: 21px 34px;
  background-color: #57B8FF;
}

.image-newEra {
  position: relative;
}

.image-newEra__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-newEra__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-customize {
  position: relative;
}

.image-customize__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-customize__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
}

.content-customize {
  min-width: 0;
}

.content-customize__about {
  margin-bottom: 11px;
}

.content-customize__title {
  margin-bottom: 38px;
}

.content-customize__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(223, 223, 223, 0.8);
}

.slider-customize {
  margin-top: 54px;
}

.slider-customize .swiper-button-prev {
  margin: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  background-color: #3F8CFF;
  width: 7.39%;
  height: 34.95%;
}

.slider-customize .swiper-button-prev:after {
  font-size: 120%;
  color: #fff;
}

.slider-customize .swiper-button-next {
  margin: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  background-color: #3F8CFF;
  width: 7.39%;
  height: 34.95%;
}

.slider-customize .swiper-button-next:after {
  font-size: 120%;
  color: #fff;
}

.slide-customize {
  position: relative;
  padding-bottom: 21.14%;
}

.slide-customize__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slide-customize__wrapper {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 11.5px solid transparent;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slide-customize__wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  min-width: 0;
}

.gallery__slide {
  position: relative;
  padding-bottom: 50.833%;
  position: relative;
}

.gallery__slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.gallery__slide-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.text-gallery__ico {
  position: relative;
  padding-bottom: 39.035%;
}

.text-gallery__ico-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text-gallery__ico-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.text-gallery__text {
  font-weight: 400;
  font-size: 48px;
  line-height: 121%;
  text-transform: capitalize;
  color: #FFFFFF;
  white-space: nowrap;
}

.latest {
  padding-top: 9.027%;
  padding-bottom: 9.027%;
  background-color: #000;
}

.upper-latest {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper-latest__about {
  margin-bottom: 12px;
}

.upper-latest__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.upper-latest__btn {
  color: #fff;
  padding: 21px 34px;
  background-color: #57B8FF;
}

.big-column img {
  border-radius: 45px;
}

.big-column__image {
  position: relative;
  padding-bottom: 78.7%;
  margin-bottom: 54px;
}

.big-column__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.big-column__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-column__data {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #57B8FF;
  margin-bottom: 28px;
}

.big-column__text {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-weight: 400;
  font-size: 36px;
  line-height: 128%;
  color: #FFFFFF;
}

.multi-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.multi-column img {
  border-radius: 25px;
}

.multi-column__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.15%;
          flex: 0 1 48.15%;
  margin-bottom: 40px;
}

.multi-column__item:last-child {
  margin-bottom: 0;
}

.multi-column__image {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 60.577%;
}

.multi-column__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.multi-column__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.multi-column__data {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #57B8FF;
  margin-bottom: 20px;
}

.multi-column__text {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-weight: 400;
  font-size: 23px;
  line-height: 148%;
  color: #FFF;
}

.join {
  padding-top: 9.027%;
  padding-bottom: 9.027%;
  position: relative;
}

.join__container {
  position: relative;
  z-index: 1;
  padding: 0 15px;
}

.join__inner {
  text-align: center;
}

.join__content {
  margin: 0 auto;
}

.join__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.join__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-join {
  margin-bottom: 44px;
}

.content-join__title {
  color: #141820;
  margin-bottom: 82px;
}

.content-join__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #555555;
}

.form-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-join__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 667px;
          flex: 0 1 667px;
}

.form-join__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form-join__input {
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #555555;
  width: 100%;
  height: 100%;
  padding: 21px 13px;
  border: none;
  outline: 0;
}

.form-join__input:focus {
  -webkit-box-shadow: 0px 0px 12px 1px #57b8ff inset;
          box-shadow: 0px 0px 12px 1px #57b8ff inset;
}

.form-join__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 18px;
  padding: 21px 34px;
  background-color: #57b8ff;
  min-height: 70px;
}

.footer {
  padding-top: 9.027%;
  padding-bottom: 4.167%;
  background-color: #383D45;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-footer__image {
  position: relative;
  padding-bottom: 14.54%;
  margin-bottom: 35px;
}

.text-footer__img {
  -webkit-transform: translate(-25%, 0);
      -ms-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text-footer__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.text-footer__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #999999;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-footer__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.menu-footer__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 250%;
  color: #999999;
}

.social-footer__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.social-footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.75%;
          flex: 0 1 18.75%;
  display: inline-block;
  position: relative;
  padding-bottom: 18.75%;
  margin: 0 8px 20px 8px;
}

.social-footer__item:last-child {
  margin-bottom: 0;
}

.social-footer__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.social-footer__link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.949);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
}

.popup__close {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 24px;
  cursor: pointer;
}

.popup__close:hover {
  color: #333;
}

.popup__inner {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 10%;
}

.popup__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 119%;
  color: #fff;
  margin-bottom: 50px;
}

.popup__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 161%;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
}

body {
  margin: 0;
  font-family: "Orbitron";
  font-size: 16;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  background: #333;
  color: #fff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

._container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 0 4.16%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 119%;
  color: #fff;
}

h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 116%;
  color: #fff;
}

h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 121%;
}

.future {
  position: relative;
  padding-left: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #57B8FF;
}

.future:before {
  position: absolute;
  content: '';
  background: url("../img/icons/fire.svg") 100%/100% no-repeat;
  width: 32px;
  height: 32px;
  top: -50%;
  left: 0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #FFFFFF;
  white-space: nowrap;
  min-height: 70px;
}

.buttons-heading__btn {
  -webkit-animation-name: btn-color;
          animation-name: btn-color;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes btn-color {
  0% {
    color: #fff;
  }

  50% {
    color: #0019fc;
  }

  100% {
    color: #ffbf00;
  }
}

@keyframes btn-color {
  0% {
    color: #fff;
  }

  50% {
    color: #0019fc;
  }

  100% {
    color: #ffbf00;
  }
}

.columns-needs__title:before {
  -webkit-animation-name: needsBefore;
          animation-name: needsBefore;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

@-webkit-keyframes needsBefore {
  0% {
    border: 2px solid #57B8FF;
    background-color: #fff;
  }

  100% {
    border: 2px solid yellow;
    background-color: rgba(255, 0, 0, 0.363);
  }
}

@keyframes needsBefore {
  0% {
    border: 2px solid #57B8FF;
    background-color: #fff;
  }

  100% {
    border: 2px solid yellow;
    background-color: rgba(255, 0, 0, 0.363);
  }
}

.columns-needs__title:after {
  -webkit-animation-name: needsAfter;
          animation-name: needsAfter;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

@-webkit-keyframes needsAfter {
  0% {
    background-color: #57B8FF;
  }

  100% {
    background-color: yellow;
  }
}

@keyframes needsAfter {
  0% {
    background-color: #57B8FF;
  }

  100% {
    background-color: yellow;
  }
}

@media (min-width: 768px) {
  .menu-header {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .menu-header__link:hover {
    color: #FAC422;
  }

  .menu-header__menu {
    display: none;
  }

  .actions-header__button {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  .actions-header__button:hover {
    color: #FAC422;
    border: 1px solid #FAC422;
  }

  .header-btn {
    display: none;
  }

  .heading {
    min-height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .heading__inner {
    padding-top: 130px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .buttons-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .buttons-heading__btn {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding: 21px 34px;
    margin-right: 6px;
    background-color: transparent;
  }

  .buttons-heading__btn:last-child {
    margin-right: 0;
  }

  .buttons-heading__btn:hover {
    background-color: #57B8FF;
  }

  .image-heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-bottom: 39.62%;
  }

  .heading {
    min-height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .heading__inner {
    padding-top: 130px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .buttons-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .buttons-heading__btn {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding: 21px 34px;
    margin-right: 6px;
    background-color: transparent;
  }

  .buttons-heading__btn:last-child {
    margin-right: 0;
  }

  .buttons-heading__btn:hover {
    background-color: #57B8FF;
  }

  .image-heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-bottom: 39.62%;
  }

  .sponsor__text {
    max-width: 63%;
  }

  .logos-sponsors__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.666%;
            flex: 0 1 16.666%;
    padding-bottom: 6.74%;
    margin-bottom: 20px;
  }

  .columns-needs {
    max-width: 83.612%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .columns-needs__column {
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }

  .columns-needs__column:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .newEra_inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-newEra {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 51.52%;
            flex: 0 1 51.52%;
  }

  .content-newEra__btn {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .content-newEra__btn:hover {
    background-color: #0d30fc;
  }

  .image-newEra {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 34.16%;
            flex: 0 1 34.16%;
    padding-bottom: 41.667%;
  }

  .customize__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .image-customize {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45.15%;
            flex: 0 1 45.15%;
  }

  .content-customize {
    padding-top: 6.28%;
    padding-bottom: 6.28%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45.15%;
            flex: 0 1 45.15%;
  }

  .slider-customize .swiper-button-prev {
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
  }

  .slider-customize .swiper-button-prev:hover {
    background-color: #024ab6;
  }

  .slider-customize .swiper-button-next {
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
  }

  .slider-customize .swiper-button-next:hover {
    background-color: #024ab6;
  }

  .slide-customize__wrapper:hover {
    border-color: #3B3D46;
  }

  .latest__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .upper-latest {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .upper-latest__btn {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .upper-latest__btn:hover {
    background-color: #0d30fc;
  }

  .big-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49.083%;
            flex: 0 1 49.083%;
  }

  .big-column:hover .big-column__text,
  .big-column:hover .big-column__data {
    color: rgba(255, 0, 0, 0.421);
  }

  .multi-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49.083%;
            flex: 0 1 49.083%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .multi-column__item:hover .multi-column__data,
  .multi-column__item:hover .multi-column__text {
    color: rgba(255, 0, 0, 0.421);
  }

  .join__content {
    max-width: 60%;
  }

  .form-join__button {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .form-join__button:hover {
    background-color: #0d30fc;
  }

  .text-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20.757%;
            flex: 0 1 20.757%;
  }

  .menu-footer__link {
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }

  .menu-footer__link:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  .social-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 18.181%;
            flex: 0 1 18.181%;
  }

  .social-footer__item {
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }

  .social-footer__item:hover {
    position: relative;
    top: -5px;
  }

  h1 {
    font-size: calc(72px + (42 - 72) * ((100vw - 1440px) / (768 - 1440)));
  }

  h2 {
    font-size: calc(64px + (38 - 64) * ((100vw - 1440px) / (768 - 1440)));
  }

  h3 {
    font-size: calc(64px + (48 - 64) * ((100vw - 1440px) / (768 - 1440)));
  }

  .buttons-heading__btn:hover {
    -webkit-animation-name: none;
            animation-name: none;
  }
}

@media (min-width: 1440px) {
  .sidebar__link {
    font-size: calc(28px + (11 - 28) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .menu-header__link {
    font-size: calc(30px + (16 - 30) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .actions-header__button {
    font-size: calc(32px + (18 - 32) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .header-logo {
    position: relative;
    width: 12.87%;
    padding-bottom: 3.633%;
  }

  .header-logo__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .header-logo__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .sponsor__text {
    font-size: calc(28px + (16 - 28) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .needs__text {
    font-size: calc(32px + (20 - 32) * ((100vw - 2560px) / (768 - 2560)));
  }

  .columns-needs__title {
    font-size: calc(42px + (32 - 42) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .columns-needs__text {
    font-size: calc(24px + (18 - 24) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .content-newEra__text {
    font-size: calc(32px + (20 - 32) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .content-customize__text {
    font-size: calc(32px + (20 - 32) * ((100vw - 2560px)/ (1440 - 2560)));
  }

  .text-gallery__text {
    font-size: calc(72px + (48 - 72) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .big-column__data {
    font-size: calc(36px + (18 - 36) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .big-column__text {
    font-size: calc(48px + (36 - 48) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .multi-column__data {
    font-size: calc(32px + (16 - 32) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .multi-column__text {
    font-size: calc(38px + (23 - 38) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .content-join__text {
    font-size: calc(36px + (18 - 36) * ((100vw - 2560px)/ (1440 - 2560)));
  }

  .form-join__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47.517%;
            flex: 0 1 47.517%;
  }

  .form-join__input {
    font-size: calc(32px + (18 - 32) * ((100vw - 2560px)/ (1440 - 2560)));
  }

  .text-footer__text {
    font-size: calc(32px + (15 - 32) * ((100vw - 2560px)/ (1440 - 2560)));
  }

  .menu-footer__title {
    font-size: calc(32px + (18 - 32) * ((100vw - 2560px)/ (1440 - 2560)));
  }

  .menu-footer__link {
    font-size: calc(32px + (15 - 32) * ((100vw - 2560px)/ (1440 - 2560)));
  }

  .social-footer__title {
    font-size: calc(32px + (18 - 32) * ((100vw - 2560px)/ (1440 - 2560)));
  }

  .future {
    font-size: calc(28px + (16 - 28) * ((100vw - 2560px) / (1440 - 2560)));
  }
}

@media (min-width: 1441px) {
  .content-newEra__btn {
    padding: 32px 42px;
    font-size: calc(32px + (18 - 32) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .upper-latest__btn {
    padding: 32px 42px;
    font-size: calc(32px + (18 - 32) * ((100vw - 2560px) / (1440 - 2560)));
  }

  .form-join__button {
    font-size: calc(32px + (18 - 32) * ((100vw - 2560px)/ (1440 - 2560)));
    width: 33.583%;
  }
}

@media (min-width: 1920px) {
  .actions-header__cart img {
    width: 45px;
    height: 45px;
  }

  .actions-header__cart span {
    font-size: 18px;
    position: absolute;
    top: -6px;
    right: 0;
  }

  .actions-header__cart span:before {
    -webkit-transform: translate(-15%, 0%);
        -ms-transform: translate(-15%, 0%);
            transform: translate(-15%, 0%);
    width: 30px;
    height: 30px;
  }

  .columns-needs__ico {
    width: 30px;
    height: 30px;
    left: -30px;
  }

  .future:before {
    width: 38px;
    height: 38px;
    top: -40%;
  }
}

@media (max-width: 1440px) {
  .columns-needs__title {
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1440 - 320)));
  }

  .text-gallery__text {
    font-size: calc(48px + (18 - 48) * ((100vw - 1440px) / (320 - 1440)));
  }
}

@media (max-width: 992px) {
  .columns-needs__ico {
    width: 15px;
    height: 15px;
    left: -14px;
  }
}

@media (max-width: 768px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .text-footer {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }

  .text-footer__img {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu-footer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .social-footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 10%;
  }

  .social-footer__title {
    text-align: center;
    margin-bottom: 5%;
  }

  .social-footer__list {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .actions-header {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .actions-header__cart {
    position: fixed;
    right: 0;
    bottom: 5%;
  }

  .actions-header__button {
    padding: 5px 14px;
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (768 - 320)));
    min-height: 40px;
  }

  .header-logo {
    position: relative;
    width: 40%;
    padding-bottom: 8.633%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header-logo__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .header-logo__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .menu-header {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding: 0;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow: auto;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }

  .menu-header__list {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-header__item {
    margin: 0 0 30px 0;
  }

  .menu-header__link {
    font-size: 24px;
  }

  .menu-header.open {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .header-btn {
    display: block;
  }

  .heading:before {
    width: 100%;
  }

  .heading:after {
    display: none;
  }

  .heading {
    padding-bottom: 50px;
  }

  .heading__inner {
    padding-top: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .content-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .buttons-heading__btn {
    padding: 25px 35px;
    border: 2px solid #57B8FF;
    margin-bottom: 30px;
  }

  .buttons-heading__btn:last-child {
    margin-bottom: 0;
  }

  .image-heading {
    padding-bottom: 30%;
    margin-bottom: 30px;
  }

  .image-heading__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .heading:before {
    width: 100%;
  }

  .heading:after {
    display: none;
  }

  .heading {
    padding-bottom: 50px;
  }

  .heading__inner {
    padding-top: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .content-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .buttons-heading__btn {
    padding: 25px 35px;
    border: 2px solid #57B8FF;
    margin-bottom: 30px;
  }

  .buttons-heading__btn:last-child {
    margin-bottom: 0;
  }

  .image-heading {
    padding-bottom: 30%;
    margin-bottom: 30px;
  }

  .image-heading__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .sponsor__text {
    max-width: 90%;
  }

  .logos-sponsors__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding-bottom: 15%;
    margin-bottom: 20px;
  }

  .needs__text {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (768 - 320)));
  }

  .columns-needs {
    max-width: 83.612%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .columns-needs__column {
    padding: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .columns-needs__column:last-child {
    margin-bottom: 0;
  }

  .columns-needs__ico {
    top: 0;
    left: -10px;
    width: 15px;
    height: 15px;
  }

  .columns-needs__text {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (768 - 320)));
  }

  .newEra_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .content-newEra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .image-newEra {
    padding-bottom: 20%;
    margin-bottom: 30px;
  }

  .customize {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .customize__inner {
    text-align: center;
  }

  .image-customize {
    display: none;
  }

  .content-customize {
    margin-top: 40px;
  }

  .content-customize__about {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .slider-customize .swiper-button-prev {
    pointer-events: none;
  }

  .slider-customize .swiper-button-next {
    pointer-events: none;
  }

  .slide-customize {
    padding-bottom: 60%;
  }

  .gallery__slide {
    padding-bottom: 80%;
  }

  .upper-latest {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .upper-latest__text {
    margin-bottom: 30px;
  }

  .big-column {
    text-align: center;
    margin-bottom: 40px;
    pointer-events: none;
  }

  .multi-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .multi-column__item {
    pointer-events: none;
  }

  .join__container {
    padding: 0 10px;
  }

  .form-join__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form-join__input {
    text-align: center;
    margin-bottom: 20px;
  }

  .popup__title {
    font-size: calc(28px + (72 - 28) * ((100vw - 320px) / (768 - 320)));
  }

  .popup__text {
    font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (768 - 320)));
  }

  h1 {
    font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));
  }

  h2 {
    font-size: calc(28px + (38 - 28) * ((100vw - 320px) / (768 - 320)));
  }

  h3 {
    font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  .header-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .form-join__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 221px;
            flex: 0 1 221px;
  }
}